# Exported functions
export(singletable,multipletables,
        plot.multipletables,  summary.multipletables, 
       plot.singletable, summary.singletable
       )
       
       
#S3 methods
S3method(plot,multipletables)
S3method(summary,multipletables)
S3method(summary, singletable)
S3method(plot, singletable)


